
@{
    ViewBag.Title = "Received";
    Layout = "~/Views/Shared/myLayout.cshtml";
}


<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

<div>

    <h4>Receive # :   <span id="Receivedid_"></span></h4>
    <div class="row">

        <div class="col-md-6">
            <div>
                @if (ViewBag.id > 0)
                {
                    @*<button class="btn btn-default" id="email">Email</button>
                        <button class="btn btn-default" id="conformorder">Confirm Order</button>
                        <button class="btn btn-default" id="receivedorder" style="display:none">Received Order</button>*@
                }

            </div>

        </div>

        <div class="col-md-6">

            <h4 id="status_">status</h4>
        </div>

    </div>

    <form id="taxform">
        <div class="row">
            <input type="hidden" id="id" value="@ViewBag.recid" />
            <div class="col-md-6">
                <div class="form-group">
                    <label for="email">Vendor:</label>
                    <select class="form-control" id="vendor">
                        @foreach (var item in ViewBag.vendor.data1)
                        {
                            <option value="@item.id"> @item.vendorName </option>
                        }
                    </select>

                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="email">Order Deadline:</label>
                    <input type="date" class="form-control" id="orderdeadline">
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    <label for="email">Company:</label>
                    <select class="form-control" id="company">
                        @foreach (var item in ViewBag.Company.data1)
                        {
                            <option value="@item.id"> @item.Comapny1 </option>
                        }
                    </select>

                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="email">Receipt Date:</label>
                    <input type="date" class="form-control" id="receiptdate">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="email">Currency:</label>
                    <input type="text" readonly value="PKR" id="currency" class="form-control">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="email">Deliver To:</label>
                    @*<input type="date" class="form-control" id="deliverto">*@

                    <select class="form-control" id="deliverto">
                        @foreach (var item in ViewBag.warehouse.data1)
                        {
                            <option value="@item.id"> @item.warehouse1 </option>
                        }
                    </select>

                </div>
            </div>


        </div>

    </form>


    <div>
        <div class="row">
            <div class="col-md-12">
                <button type="button" id="addproduct" class="btn btn-primary" style="display:none">Add</button>
                <table class="table" id="productTable">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Varient</th>
                            <th>QTY</th>
                            <th>RECV QTY</th>
                            <th>Unit Price</th>
                            <th>Taxes</th>
                            <th>Sub Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="producttablebody">
                    </tbody>
                </table>
            </div>

            <button type="button" id="save" class="btn btn-default">Received</button>
            <button type="button" id="bill" class="btn btn-primary" style="display:none">Bill</button>

        </div>

    </div>


</div>
<input type="hidden" id="poidhidden" value="@ViewBag.poid" />




<!-- Modal -->
<div class="modal fade" id="billpopup" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" id="addproduct" class="btn btn-primary" style="display:none">Add</button>
                        <table class="table" id="productTablebill">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Varient</th>
                                    <th>QTY</th>
                                    <th>RECV QTY</th>
                                    <th>Unit Price</th>
                                    <th>Taxes</th>
                                    <th>Sub Total</th>
                                </tr>
                            </thead>
                            <tbody id="producttablebody_bill">
                            </tbody>
                        </table>


                        <span id="sumtotal"><strong>Sum Total : </strong></span>
                    </div>



                </div>

                <input type="radio" id="html" class="paymethod" name="paymethod" value="cash">
                <label for="html">Cash</label><br>
                <input type="radio" id="css" class="paymethod" name="paymethod" value="bank">
                <label for="css">Bank</label><br>

                <button class="btn btn-primary" id="paybill">Pay Bill</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js" defer></script>
<script src="~/Scripts/MyScripts/devExhelper.js"></script>
<script src="~/Scripts/MyScripts/fin_common.js"></script>
<script src="~/Scripts/Lib/Received.js"></script>
<script src="~/Scripts/Lib/bem_common.js"></script>
<script src="~/Scripts/MyScripts/AjaxHelper.js"></script>

<script>

    $(document).ready(function () {



        Received.varient = @Html.Raw(Json.Encode(ViewBag.varient));
        Received.tax = @Html.Raw(Json.Encode(ViewBag.tax));
        Received.products = @Html.Raw(Json.Encode(ViewBag.products));
        Received.productsVarient = @Html.Raw(Json.Encode(ViewBag.productvarient));

        if ($('#id').val() > 0) {

            if (window.location.href.toLowerCase().indexOf('edit') != -1)
            {
                Received.getByidonedit($('#id').val());

            }
            else
            {
                Received.getByid($('#poidhidden').val());
            }


        }
        else {
            Received.getByid($('#poidhidden').val());
        }


        $('#bill').click(function () {

            $('#billpopup').modal('show');

        })


        $('#paybill').click(function () {

            Received.paybill();

        })


        $('#addproduct').click(function () {

            debugger;

            let product = Received.products.data1.map(e => ("<option  value='" + e.pid + "'  tax='" + e.p_tax + "' >  " + e.P_name + "  </option>")).join('');
            let tax = Received.tax.data1.map(e => ("<option value='" + e.id + "'>   " + e.TaxName + "  </option>")).join('');

            let taxguid = "id" + bem_common.getGuid();
            tax = "<select class='form-control tax' id='" + taxguid + "' multiple>  " + tax + "  </select>";
            product = "<select class='form-control product'>  " + product + "  </select>";

            let qty = "<input type='number' onkeyup='Received.calculate(this)' class='qty form-control'>";
            let RECqty = "<input type='number' onkeyup='Received.calculate(this)' class='RECqty form-control'>";
            let unitprice = "<input type='number' onkeyup='Received.calculate(this)' class='unitprice form-control'>";
            let subtotal = "<input type='text' readonly class='subtotal form-control'>";
            let btn = "<button class='form-control btn removevProduct' type='button'>delete</button>";

            let tbody = `<tr Guid='${bem_common.getGuid()}'>
                            <td product> ${product}</td>
                            <td varient>   </td>
                            <td qty> ${qty} </td>
                            <td RECqty> ${RECqty} </td>
                            <td unitprice>  ${unitprice} </td>
                            <td taxes> ${tax}  </td>
                            <td subtotal> ${subtotal}  </td>
                            <td> ${btn}  </td>
                            </tr>`;
            $('#producttablebody').append(tbody);

            setTimeout((e) => {

                $("#" + taxguid).select2();

            }, 100)


        })
        $('#conformorder').click(function () {

            Received.orderConform($('#id').val());

        })

        $('body').on('click', '#save', function () {


            Received.save();

        })


        $('body').on('change', '.tax', function () {

            Received.calculate(this);

        })


        $('body').on('change', '#receivedorder', function () {

           let Receivedid  =  $('#Receivedid_').text();
            window.location.href = fin_common.sitrurl + "/Reccievd/ReceivedReceived?Receivedid=" + Receivedid;
        })


        $('body').on('change', '.product', function () {

            let id = $(this).val();

            if (Received.productsVarient.data1 != null && Received.productsVarient.data1.length > 0) {
                let vari = Received.productsVarient.data1.filter(x => { return x.p_id == id })[0].variantValues;

                if (vari!=null && vari.length>0) {

                    let g = bem_common.getGuid();

                   let opt = Received.productsVarient.data1
                        .filter(x => { return x.p_id == id })
                        .map(e => (e.variantValues)).join(',').split(',')
                        .map(o => ('<option>  ' + o + ' </option>')).join(' ');
                    let sel = "<select class='form-control varient' id='"+g+"' multiple>  " + opt + "  </select>";

                    $(this).closest('tr').find('td[varient]').html(sel);

                    setTimeout((e) => {

                        $("#" + g).select2();

                    }, 100)
                }

                if (Received.products.data1 != null && Received.products.data1.length > 0)
                {
                   let cost = Received.products.data1.filter(e => (e.pid == id))[0].cost;
                    $(this).closest('tr').find('td[unitprice] .unitprice').val(cost);
                    $(this).closest('tr').find('td[subtotal] .subtotal').val('');
                    $(this).closest('tr').find('td[qty] .qty').val('');
                }

            }

            debugger;

        })

    })





</script>